*.jl.cov
*.jl.*.cov
*.jl.mem

docs/build/
docs/site/
docs/src/examples/
docs/Manifest.toml

.vscode
.DS_Store
Manifest.toml
/test/Manifest.toml

*/__pycache__

examples/benchmark/iterations

*.ipynb
*.jl
*.vtu